*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* modifica header */
header{
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: red;
}
header h1{
  padding-left: 20px;
  font-size: 50px;
}
header input,button{
  padding: 10px 20px;
  margin-right: 5px;
}

/* card */

.cardItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  align-items: start;
  border: 2px solid white;
  background-color: black;
  color: white;
  margin: 5px;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: lighter;
}
.cardItem img{
  width: 100%;
}
.main{
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  justify-content: start;
  background-color: rgb(116, 116, 116);
  padding: 20px 0px;
  padding-left: 70px;
}
.titolo{
  background-color: rgb(116, 116, 116);
  display: flex;
  justify-content: center;

}
.titolo h1{
  width: 20%;
  text-align: center;
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid black;
}
.error{
  background-color: red;
  width: 50%;
  color: white;
  display: flex;
  justify-content: center;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid black;
}

/* MODIFICA CARD */
.star{
  color: rgb(255, 230, 0);
}
.star2{
  color: white;
}
.none{
  display: none;
  padding: 10px;
  
}
.cardItem:hover .none{
  display: block;
}
.cardItem:hover img{
  display: none;
} 
.bold{
  font-weight: bold;
  font-size: 20px;
}
